<table class="table table-striped border">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Director</th>
            <th scope="col">Año</th>
            <th scope="col">Género</th>
        </tr>
    </thead>
    <tbody>
        @for (movie of movies; track movie.id) {
            <tr>
                <th scope="row">{{ movie.id }}</th>
                <td>{{ movie.title }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.year }}</td>
                <td>
                    <app-badge 
                        [text]="movie.genre"
                        [type]="genreMap[movie.genre]" >
                    </app-badge>
                </td>
            </tr>
        }
    </tbody>
</table>